<p>
    <%= form_for @post do |f|%><br>
    <%= if @post.errors.any? %>
    <div id="errors"></div>
    <h2><%= pluralize (@post.errors.count,"error)"%> preventing this post from saving</h2>
    <ul>
      <% @post.errors.full_messages.each do |msg| %>
      <li><%=msh%></li>
    </ul>
    <% end %>
    <%= form.label :title %>
    <%= form_text :title %>
</p>
<p>
    <%= form_label :body %><br>
    <%= form_text_area :body %>
</p>
<p>
    <%= form_submit %>
</p>
<%end%>
</div>
